$fonts-color: #ccc;
$center: center;

body {
	margin: 0, auto;
	background-color: red;	
}

h1, h2 {
	color: $fonts-color;
  	padding: 30px;
  	text-align: $center;
}

.container {
  	text-align: $center;
  	padding-top: 30px;
  	color: $fonts-color;
}

.test {
	display: flex;
	flex-wrap: wrap;
}
