$fonts-color: #994949;
$center: center;

body {
	margin: 0, auto;
	background-color: #f1f1f1;	
}

h1, h2 {
	color: $fonts-color;
  	padding: 20px;
  	text-align: $center;
}

.container {
  	text-align: $center;
  	padding-top: 30px;
  	color: $fonts-color;
}